/vendor/
/node_modules/
.env
.env.backup
.env.production
.phpunit.result.cache
.phpunit.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/.fleet
/.phpstorm.meta.php
/_ide_helper.php
.DS_Store
*.cache
*.log
coverage/
.php-cs-fixer.cache
